name: CD

on:
    push:
      tags:
        - '*'

jobs:
  get-package-name:
    name: Get package name
    runs-on: ubuntu-latest
    outputs:
        package-name: ${{ steps.get-package-name.outputs.package-name }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Get name
        id: get-package-name
        run: |
          echo "package-name=$(yq '.project.name' pyproject.toml)" >> $GITHUB_OUTPUT
  
  release-conda-package:
    name: Build with conda and upload
    runs-on: ubuntu-latest
    needs: get-package-name
    permissions:
      contents: write
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
            fetch-tags: true
            fetch-depth: 0 

      - name: Setup conda build environment
        uses: mamba-org/setup-micromamba@7f29b8b80078b1b601dfa018b0f7425c587c63bb # v2.0.6
        with:
          environment-file: .conda/env_build.yml
          create-args: >-
            python=${{vars.PY_VERSION}}
      
      # conda build cannot get the version from setuptools_scm so we have to set it in an env var
      # (PACKAGE_VERSION) prior to building and use it in meta.yaml
      - name: Get package version
        id: get-version
        shell: micromamba-shell {0}
        run:
          version=$(python3 -m setuptools_scm) 
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Build and upload conda package
        id: build-and-upload
        env:
          PACKAGE_VERSION: ${{ steps.get-version.outputs.version }}
        uses: ACCESS-NRI/action-build-and-upload-conda-packages@v3.0.0
        with:
          meta_yaml_dir: .conda
          user: ${{ secrets.ANACONDA_USER_NAME }}
          token: ${{ secrets.ANACONDA_TOKEN }}
          label: main
          conda_build_args: -c accessnri -c conda-forge -c nodefaults
      
      - name: Re-format output paths
        id: reformat-paths
        # Needed to have the correct newline-separated files format for the following release step
        run: |
            paths=$(tr ' ' '\n' <<< "${{steps.build-and-upload.outputs.paths}}")
            echo "newline-separated-paths=$paths" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191 #v2.0.8
        with:
            tag_name: ${{ github.ref_name }}
            name: ${{needs.get-package-name.outputs.package-name}} ${{ github.ref_name }}
            generate_release_notes: true
            fail_on_unmatched_files: true
            files: ${{steps.reformat-paths.outputs.newline-separated-paths}}