# Run CI tests
name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: main
  pull_request:
    branches: main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # JOB to run change in the build files
  changes:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    # Set job outputs to values from filter step
    outputs:
      files: ${{ steps.filter.outputs.files }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Filter files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 #v3.0.2
        id: filter
        with:
          filters: |
            files:
              - 'pyproject.toml'
              - '.conda/*'

  verify-conda-build:
    name: Conda Build
    runs-on: ubuntu-latest
    needs: changes
    # Only run if there are changes in the build files
    if: ${{ needs.changes.outputs.files == 'true' }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup conda build environment
        uses: mamba-org/setup-micromamba@7f29b8b80078b1b601dfa018b0f7425c587c63bb # v2.0.6
        with:
          environment-file: .conda/env_build.yml
          create-args: >-
            python=${{vars.PY_VERSION}}
        
      # conda build cannot get the version from setuptools_scm so we have 
      # to set it in an env var (PACKAGE_VERSION) prior to building 
      # and use it in the meta.yaml
      - name: Get package version
        id: get-version
        shell: micromamba-shell {0}
        run: |
          version=$(python3 -m setuptools_scm)
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Run conda build
        env:
          PACKAGE_VERSION: ${{ steps.get-version.outputs.version }}
        shell: bash -el {0}
        run: conda build . --no-anaconda-upload --output-folder=./build -c conda-forge -c accessnri
  
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Setup conda build environment
        uses: mamba-org/setup-micromamba@7f29b8b80078b1b601dfa018b0f7425c587c63bb # v2.0.6
        with:
          environment-file: .conda/env_dev.yml
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Install source
        shell: micromamba-shell {0}
        run: python3 -m pip install --no-deps --no-build-isolation -e .

      - name: List installed packages
        shell: micromamba-shell {0}
        run: micromamba list

      - name: Entrypoint test of driver script
        shell: micromamba-shell {0}
        run: esm1p5_convert_nc --help

      - name: Entrypoint test of um2netcdf script
        shell: micromamba-shell {0}
        run: um2nc --help

      - name: Run tests
        shell: micromamba-shell {0}
        run: python -m pytest --cov=um2nc --cov-report=html -s test

      # - name: Upload code coverage
      #   # Only upload once for the installed version
      #   if: ${{ matrix.python-version == vars.PY_VERSION }}
      #   uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 #v4.6.0
      #   with:
      #     token: ${{ secrets.codecov_token }}
      #     files: ./coverage.xml
